---
import BaseLayout from "../layouts/BaseLayout.astro";
import Blogcard from "../components/Blogcard.astro";

const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="mb-64">
        <h1 class="font-mono font-bold text-3xl md:text-4xl">Blog</h1>
        <div class="mt-12">
            <div class="mt-6 grid grid-cols-1">
                {allPosts.map((post) => <Blogcard post={post} />)}
            </div>
        </div>
    </div>
</BaseLayout>
