---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Muhammad Hafid Khoirul";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="max-w-lg">
        <p>Hello there!</p>
        <p class="mt-2">
            My name is <span class="text-violet-700 font-semibold font-mono"
                >Muhammad Hafid Khoirul</span
            >. I am a software engineer based in Bogor, Indonesia.
        </p>
        <p class="mt-2">
            Currently, I am working as a backend engineer at <a
                href="https://www.qontak.com"
                target="_blank"
                rel="noreferrer"
                class="font-mono text-violet-700 hover:text-violet-800 border-b border-violet-700"
                >Qontak</a
            >.
        </p>
        <p class="mt-2">
            Read more <a
                href="/about"
                class="font-mono text-violet-700 hover:text-violet-800 border-b border-violet-700"
                >about me</a
            > or checkout my <a
                href="/blog"
                class="font-mono text-violet-700 hover:text-violet-800 border-b border-violet-700"
                >blog</a
            >!
        </p>
    </div>
</BaseLayout>
