---
import BaseLayout from "../layouts/BaseLayout.astro";
import Blogcard from "../components/Blogcard.astro";
const pageTitle = "Muhammad Hafid Khoirul";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="max-w-lg">
        <p>Hello there!</p>
        <p class="mt-2">
            My name is <span class="text-violet-700 font-semibold font-mono"
                >Muhammad Hafid Khoirul</span
            >. I am a software engineer based in Bogor, Indonesia.
        </p>
        <p class="mt-2">
            Currently, I am working as a backend engineer at <a
                href="https://www.qontak.com"
                target="_blank"
                rel="noreferrer"
                class="font-mono text-violet-700 hover:text-violet-800 border-b border-violet-700"
                >Qontak</a
            >.
        </p>
        <p class="mt-2">
            Read more <a
                href="/about"
                class="font-mono text-violet-700 hover:text-violet-800 border-b border-violet-700"
                >about me</a
            > or checkout my <a
                href="/blog"
                class="font-mono text-violet-700 hover:text-violet-800 border-b border-violet-700"
                >blog</a
            >!
        </p>
    </div>
    <div class="mt-24">
        <h2 class="text-2xl font-bold font-mono text-violet-700">
            Latest Blog Posts
        </h2>
        <div class="mt-6 grid grid-cols-1 gap-12">
            <Blogcard />
            <Blogcard />
            <Blogcard />
            <Blogcard />
        </div>
        <div class="mt-6 text-center">
            <a
                href="/blog"
                class="font-mono text-violet-700 hover:text-violet-800 border-b border-violet-700"
                >More posts</a
            >
        </div>
    </div>
    <div class="mt-24">
        <h2 class="text-2xl font-bold font-mono text-violet-700">
            Experiences
        </h2>
        <div class="mt-6">
            <div class="">
                <p class="text-xl font-semibold">Backend Engineer</p>
                <p class="mt-2">
                    <a
                        href="https://www.qontak.com"
                        target="_blank"
                        rel="noreferrer"
                        class="font-mono text-violet-700 hover:text-violet-800 border-b border-violet-700"
                        >Qontak</a
                    >, 2020 - Present
                </p>
                <div class="mt-4 flex gap-2 flex-wrap">
                    <p
                        class="text-sm px-2 py-1 border border-violet-700 text-violet-700"
                    >
                        Ruby on Rails
                    </p>
                    <p
                        class="text-sm px-2 py-1 border border-violet-700 text-violet-700"
                    >
                        Ruby
                    </p>
                    <p
                        class="text-sm px-2 py-1 border border-violet-700 text-violet-700"
                    >
                        Go
                    </p>
                    <p
                        class="text-sm px-2 py-1 border border-violet-700 text-violet-700"
                    >
                        JavaScript
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-24">
        <h2 class="text-2xl font-bold font-mono text-violet-700">Tools</h2>
        <div class="mt-6">
            <ul class="list list-inside list-disc">
                <li>Ruby on Rails</li>
                <li>Ruby</li>
                <li>Go</li>
                <li>JavaScript</li>
                <li>Python</li>
                <li>Svelte</li>
            </ul>
        </div>
    </div>
    <div class="mt-24 mb-48" id="contact">
        <h2 class="text-2xl font-bold font-mono text-violet-700">Contact</h2>
        <div class="mt-6">
            <p>
                Have something to say? Ask a question or just say hi, anything!
                Feel free to contact me, my inbox is always open! You can
                contact me through one of these platforms!
            </p>
            <div class="font-mono mt-6">
                <a
                    href="mailto:mhafidk@gmail.com"
                    target="_blank"
                    rel="noreferrer"
                    class="font-mono text-violet-700 hover:text-violet-800 border-b border-violet-700"
                    >EMAIL</a
                >
                <a
                    href="https://www.github.com/mhafidk"
                    target="_blank"
                    rel="noreferrer"
                    class="font-mono text-violet-700 hover:text-violet-800 border-b border-violet-700"
                    >GITHUB</a
                >
                <a
                    href="https://www.linkedin.com/in/mhafidk"
                    target="_blank"
                    rel="noreferrer"
                    class="font-mono text-violet-700 hover:text-violet-800 border-b border-violet-700"
                    >LINKEDIN</a
                >
            </div>
        </div>
    </div>
</BaseLayout>
