---

---

<div class="">
    <a href="/posts/post-1" class="text-lg font-bold hover:text-violet-700"
        >Blog Title</a
    >
    <div class="flex gap-4 text-sm mt-3 text-neutral-500">
        <div class="flex gap-4">
            <p>General</p>
            <p>Programming</p>
            <p>Go</p>
        </div>
    </div>
    <div class="mt-3 line-clamp-4 md:line-clamp-3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
            asperiores exercitationem enim quasi! Officia nulla, laudantium
            nisi, architecto unde consequatur reprehenderit adipisci incidunt
            cum, voluptas velit repudiandae. Commodi, maiores natus.
        </p>
    </div>
</div>
