<div class="flex gap-1 mt-2">
    <div class="h-1 w-4 bg-violet-600"></div>
    <div class="h-1 w-3 bg-violet-500"></div>
    <div class="h-1 w-2 bg-violet-400"></div>
    <div class="h-1 w-1 bg-violet-300"></div>
    <div class="h-1 w-0.5 bg-violet-200"></div>
</div>
