---

---

<div class="">
    <a href="/" class="text-4xl font-bold text-violet-700 hover:text-violet-800"
        >Muhammad Hafid <span class="hidden md:inline">K</span></a
    >
</div>
<div class="mt-4 flex gap-4 md:gap-8 text-neutral-500">
    <a href="/about" class="hover:text-violet-600">About</a>
    <a href="/blog" class="hover:text-violet-600">Blog</a>
    <a href="/#contact" class="hover:text-violet-600">Contact</a>
</div>
